.square-anim, .scene {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-display: flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.square-anim a {
  color: white;
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 1px solid transparent;
  position: relative;
  font-size: 14pt;
  cursor: pointer;
  letter-spacing: 0.07em;
}
.square-anim a .text {
  color: black;
  font-family: proxima-nova, monospace;
  transform: translate3d(0, 0.7em, 0);
  display: block;
  font-weight: 530;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.square-anim a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #3f3f3f;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}
.square-anim .line {
  position: absolute;
  background: #3f3f3f;
}
.square-anim .line.-right, .square-anim .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}
.square-anim .line.-top, .square-anim .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}
.square-anim .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}
.square-anim .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}
.square-anim .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}
.square-anim .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}
.square-anim a:hover .text,
.square-anim a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.square-anim a:hover:after,
.square-anim a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.square-anim a:hover .line,
.square-anim a:active .line {
  transform: scale3d(1, 1, 1);
}
.square-anim a:hover .line.-right,
.square-anim a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}
.square-anim a:hover .line.-top,
.square-anim a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}
.square-anim a:hover .line.-left,
.square-anim a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}
.square-anim a:hover .line.-bottom,
.square-anim a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

.title {
  font-family: proxima-nova, monospace;
  margin:0px;
  padding:0px;
}

.card {
  height: 80vh !important;
  overflow: hidden;
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

a,p,h1,h2,h3,h4,h5,h6,span,img,.smiley {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: whitesmoke;
}

a, a:hover, a:visited, a:active {
  color: black;
  font-weight: 400;
}
span.text-muted {
  font-family: proxima-nova, monospace;
}

.language_logo {
  height:40px;
}

.foca_logo {
  height:50px;
}
.farcar_logo {
  height:45px;
}

.override-grey {
  background-color:#D6D8DB;
  pointer-events:none;
}

.reset_a {
  text-decoration:none; border:none;
}
